.main{
	width: 90%;
	background: #eee;
	padding:20px 20px;
	margin: 0 auto;
	margin-top: 20px;
	border:1px solid #999;
	min-height: 460px;
	min-width: 824px;
	position: relative;
	overflow: hidden;
}
.left{
	background-color: white;
	padding:20px 20px;
	height: 80px;
	width: 158px;
	border: 1px solid #999;
	position: absolute;
}
.left img{
	width: 80px;
	height: 80px;
}
.left > h1{
	float:right;
	margin:0px;
	padding: 0px;
}
.mid{
	margin: 0px 140px 0px 220px;
	border:1px solid #999;
	max-width:70%;
	background: white;
	padding: 20px 20px;
	font-size: 18px;
}
.right{
	width: 118px;
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: white;
	border:1px solid;
	float: right;

}

li{
	list-style: none;
	text-align: center;
}
.pic1{
	width: 80px;
    height: 80px;
    margin: 0px 20px 0 -20px;
    border: 1px solid #999;

}
.pic{
    width: 80px;
    height: 80px;
    margin: 20px 20px 0 -20px;
    border: 1px solid #999;

}
